# priority enum: "LOG_FATAL", "ALERT", "CRIT", "LOG_ERROR", "LOG_WARN",
#            "NOTICE", "LOG_INFO", "LOG_DEBUG", "NOTSET", "UNKNOWN"
rootCategory=NOTSET,A1,Console
additivity.rootCategory=true

# define appender
appender.A1=RollingFileAppender
#appender.A1.threshold=NOTSET
appender.A1.fileName=jx.log
#appender.A1.maxFileSize=10485760
#appender.A1.maxBackupIndex=1
appender.A1.layout=PatternLayout
appender.A1.layout.ConversionPattern=[%d{%Y-%m-%d %H:%M:%S}](%p)%c %x: %m%n

appender.Console=ConsoleAppender
appender.Console.threshold=NOTSET
appender.Console.layout=PatternLayout
appender.Console.layout.ConversionPattern=[%d{%Y-%m-%d %H:%M:%S}](%p)%c %x: %m%n
